.sides {
  text-align: center;
  font-weight: lighter;
  font-style: oblique;
  color: #003368;
  margin-top: 50px;
}
h1 {
  color:#003365;
  text-align: center;
  font-family: fantasy;
}

#word {
  text-align: center;
  color: #003370;
  margin-top: 200px;
}
